body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: white;
}


#navbar-brand{
  color: #565387;
}

#navbar-brand:hover{
  color: #3498db;
}

#brandname{
  color: #3498db;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #535687;
}

.nav-link{
  color:#535687;
  text-transform: capitalize;
}

.nav-link:hover{
  color: #3498db;
}

p {
  margin-top: 15;
  margin-bottom: 1rem;
}

.skill-section{
  padding-top: 80px;
  padding-bottom: 80px;
}

.card:hover{
  opacity: 0.3;
}


@media only screen and (max-width: 600px) {
  .img {
    max-width: 100%;
    height: auto;
  }
}


.fa-facebook:hover{
  color: #3B5998;
}

.fa-instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter:hover{
  color: #55ACEE;
}

.fa-linkedin:hover{
  color: #007bb5;
}

.fa-github:hover{
  color:grey;
}

